<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="ISO-8859-1">
 <tilte>Login</title>
 <link rel="stylesheet" type="text/css"  th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
</head>
<body>
    <h2>Login</h2>
    <form class="form-inline" th:action="@{/login}" method="post">
        <div class="form-group mb-2">
            <label for="staticEmail2" class="sr-only">Username:</label>
            <input type="text" readonly class="form-control-plaintext" id="staticEmail2"" />
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="password" class="sr-only">Password:</label>
            <input type="password" class="form-control" id="password" name="password" />
        </div>
        <div>
            <button type="submit" s="btn btn-primary mb-2">Login</button>
        </div>
    </form>
</body>
</html>
</html>