<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="ISO-8859-1">
 <tilte></title>
 <link rel="stylesheet" type="text/css"  th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container text-center">
   <div><h1>Gestion Des Utilisateurs Et Roles</h1></div>
   <div class="p-2">
       <a class="h2" th:href="@{/users}">Liste Des Utilisateurs</a>
   </div>
   <div class="p-2">
       <a class="h2" th:href="@{/roles}">Liste Des Roles</a>
   </div>
</div>
</body>
        </html>  